image: docker:git

services:
  - docker:dind

stages:
    - build
    - test
    - release
    - deploy
    - secondary-build
    - secondary-test
    - secondary-release
    - secondary-deploy

#Nginx w/SSL
build:nginx:
    tags: ["docker"]
    stage: build
    script:
#        - alias 'dockerize=git whatchanged HEAD^! | grep ./nginx/Dockerfile > /dev/null'
#        - dockerize || (echo "no need to build new docker image" && exit 0)
        - docker build -t $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME ./nginx
        - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - docker push $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME

test:nginx:
    stage: test
    image: $CI_REGISTRY_IMAGE/docker:$CI_BUILD_REF_NAME
    services:
        - name: $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME
          alias: nginx.test
          command: [ "sh", "-c", "touch /etc/letsencrypt/live/nginx.test/fullchain.pem && /etc/letsencrypt/live/nginx.test/privkey.pem && touch /etc/letsencrypt/live/nginx.test/chain.pem && nginx -g 'daemon off;'"]
    variables:
        ENV_DOMAIN_NAME: nginx.test
        ENV_UPSTREAM_HOST: 127.0.0.1:8000
    script:
        - wget -qO - http://nginx.test/.well-known/ci.log

release:nginx:
    tags: ["docker"]
    stage: release
    script:
#        - alias 'dockerize=git whatchanged HEAD^! | grep ./nginx/Dockerfile > /dev/null'
#        - dockerize || (echo "no need to build new docker image" && exit 0)
        - docker pull $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME
        - docker tag $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/nginx:latest
        - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - docker push $CI_REGISTRY_IMAGE/nginx:latest
    only:
        - master

deploy:nginx:
    tags: ["docker"]
    stage: deploy
    script:
#        - alias 'dockerize=git whatchanged HEAD^! | grep ./nginx/Dockerfile > /dev/null'
#        - dockerize || (echo "no need to build new docker image" && exit 0)
        - docker pull $CI_REGISTRY_IMAGE/nginx:latest
        - docker tag $CI_REGISTRY_IMAGE/nginx:latest twistersfury/nginx:latest
        - echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USER --password-stdin
        - docker push twistersfury/nginx:latest
    only:
        - master

#PHP Debug
build:php:fpm-7.1-debug:
    tags: ["docker"]
    stage: build
    script:
        - git whatchanged HEAD^! | grep ./php/7.1/fpm-debug/Dockerfile || true
        - alias 'dockerize=git whatchanged HEAD^! | grep ./php/7.1/fpm-debug/Dockerfile > /dev/null'
        - dockerize || (echo "no need to build new docker image" && exit 0)
        - dockerize || docker build -t $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME ./php/7.1/fpm-debug
        - dockerize || echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - dockerize || docker push $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME

test:php:fpm-7.1-debug:
    image: $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME
    stage: test
    script:
        - php -i | grep "enable-debug"

release:php:fpm-7.1-debug:
    tags: ["docker"]
    stage: release
    script:
        - alias 'dockerize=git whatchanged HEAD^! | grep ./php/7.1/fpm-debug/Dockerfile > /dev/null'
        - dockerize || (echo "no need to build new docker image" && exit 0)
        - dockerize || docker pull $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME
        - dockerize || docker tag $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/php:fpm-7.1-debug
        - dockerize || echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - dockerize || docker push $CI_REGISTRY_IMAGE/php:fpm-7.1-debug
    only:
        - master

deploy:php:fpm-7.1-debug:
    tags: ["docker"]
    stage: deploy
    script:
        - alias 'dockerize=git whatchanged HEAD^! | grep ./php/7.1/fpm-debug/Dockerfile > /dev/null'
        - dockerize || (echo "no need to build new docker image" && exit 0)
        - dockerize || docker pull $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME
        - dockerize || docker tag $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME twistersfury/php:fpm-7.1-debug
        - dockerize || echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USER --password-stdin
        - dockerize || docker push twistersfury/php:fpm-7.1-debug
    only:
        - master

# Latest Phalcon
build:phalcon:latest:
    tags: ["docker"]
    stage: build
    script:
        - docker build -t $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME ./phalcon/latest
        - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - docker push $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME

test:phalcon:latest:
    image: $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME
    stage: test
    script:
        - php -m | grep phalcon

release:phalcon:latest:
    tags: ["docker"]
    stage: release
    script:
        - docker pull $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME
        - docker tag $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/phalcon:latest
        - export PHALCON_TAG=`docker run --rm $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME php -r "echo \Phalcon\Version::get();"`
        - docker tag $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/phalcon:$PHALCON_TAG
        - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - docker push $CI_REGISTRY_IMAGE/phalcon:$PHALCON_TAG
        - docker push $CI_REGISTRY_IMAGE/phalcon:latest
    only:
        - master

deploy:phalcon:latest:
    tags: ["docker"]
    stage: deploy
    script:
        - docker pull $CI_REGISTRY_IMAGE/phalcon:latest
        - docker tag $CI_REGISTRY_IMAGE/phalcon:latest twistersfury/phalcon:latest
        - export PHALCON_TAG=`docker run --rm $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME php -r "echo \Phalcon\Version::get();"`
        - docker tag $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME twistersfury/phalcon:$PHALCON_TAG
        - echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USER --password-stdin
        - docker push twistersfury/phalcon:$PHALCON_TAG
        - docker push twistersfury/phalcon:latest
    only:
        - master

#Docker
build:docker:latest:
    tags: ["docker"]
    stage: build
    script:
        - alias 'dockerize=git whatchanged HEAD^! | grep ./docker/Dockerfile > /dev/null'
        - dockerize || (echo "no need to build new docker image" && exit 0)
        - dockerize || docker build -t $CI_REGISTRY_IMAGE/docker:$CI_BUILD_REF_NAME ./docker
        - dockerize || echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - dockerize || docker push $CI_REGISTRY_IMAGE/docker:$CI_BUILD_REF_NAME

test:docker:latest:
    image: $CI_REGISTRY_IMAGE/docker:$CI_BUILD_REF_NAME
    stage: test
    script:
        - which wget

release:docker:latest:
    tags: ["docker"]
    stage: release
    script:
        - alias 'dockerize=git whatchanged HEAD^! | grep ./docker/Dockerfile > /dev/null'
        - dockerize || (echo "no need to build new docker image" && exit 0)
        - dockerize || docker pull $CI_REGISTRY_IMAGE/docker:$CI_BUILD_REF_NAME
        - dockerize || docker tag $CI_REGISTRY_IMAGE/docker:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/docker:latest
        - dockerize || echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - dockerize || docker push $CI_REGISTRY_IMAGE/docker:latest
    only:
        - master

deploy:docker:latest:
    tags: ["docker"]
    stage: deploy
    script:
        - alias 'dockerize=git whatchanged HEAD^! | grep ./docker/Dockerfile > /dev/null'
        - dockerize || (echo "no need to build new docker image" && exit 0)
        - dockerize || docker pull $CI_REGISTRY_IMAGE/docker:latest
        - dockerize || docker tag $CI_REGISTRY_IMAGE/docker:latest twistersfury/docker:latest
        - dockerize || echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USER --password-stdin
        - dockerize || docker push twistersfury/docker:latest
    only:
        - master

#XDebug Phalcon
build:phalcon:xdebug:
    tags: ["docker"]
    stage: secondary-build
    script:
        - docker build -t $CI_REGISTRY_IMAGE/phalcon-xdebug:$CI_BUILD_REF_NAME ./phalcon/xdebug
        - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - docker push $CI_REGISTRY_IMAGE/phalcon-xdebug:$CI_BUILD_REF_NAME

test:phalcon:xdebug:
    image: $CI_REGISTRY_IMAGE/phalcon-xdebug:$CI_BUILD_REF_NAME
    stage: secondary-test
    script:
        - php -m | grep xdebug

release:phalcon:xdebug:
    tags: ["docker"]
    stage: secondary-release
    script:
        - docker pull $CI_REGISTRY_IMAGE/phalcon-xdebug:$CI_BUILD_REF_NAME
        - docker tag $CI_REGISTRY_IMAGE/phalcon-xdebug:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/phalcon:xdebug
        - export PHALCON_TAG=`docker run --rm $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME php -r "echo \Phalcon\Version::get();"`
        - docker tag $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/phalcon:xdebug-$PHALCON_TAG
        - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - docker push $CI_REGISTRY_IMAGE/phalcon:xdebug-$PHALCON_TAG
        - docker push $CI_REGISTRY_IMAGE/phalcon:xdebug
    only:
        - master

deploy:phalcon:xdebug:
    tags: ["docker"]
    stage: secondary-deploy
    script:
        - docker pull $CI_REGISTRY_IMAGE/phalcon:xdebug
        - docker tag $CI_REGISTRY_IMAGE/phalcon:xdebug twistersfury/phalcon:xdebug
        - export PHALCON_TAG=`docker run --rm $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME php -r "echo \Phalcon\Version::get();"`
        - docker tag $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME twistersfury/phalcon:xdebug-$PHALCON_TAG
        - echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USER --password-stdin
        - docker push twistersfury/phalcon:xdebug-$PHALCON_TAG
        - docker push twistersfury/phalcon:xdebug
    only:
        - master