image: docker:latest

services:
  - docker:dind

stages:
    - build
    - test
    - release
    - deploy

build:phalcon:latest:
    stage: build
    script:
        - docker build -t $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME ./phalcon
        - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - docker push $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME

test:phalcon:latest:
    image: $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME
    stage: test
    script:
        - php -m | grep phalcon

release:phalcon:latest:
    stage: release
    script:
        - docker pull $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME
        - docker tag $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/phalcon:latest
        - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
        - docker push $CI_REGISTRY_IMAGE/phalcon:latest
    only:
        - master

deploy:phalcon:latest:
    stage: deploy
    script:
        - docker pull $CI_REGISTRY_IMAGE/phalcon:latest
        - docker tag $CI_REGISTRY_IMAGE/phalcon:latest twistersfury/phalcon:latest
        - echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USER --password-stdin
        - docker push twistersfury/phalcon:latest
    only:
        - master